<!DOCTYPE html>
<html>
<head>
	<title>Additional Pictures</title>
</head>
<body>
	<h1>Welcome to my other page</h1>

	<h2>Additional pictures that represent me</h2>

	<a href="../index.html">GO BACK TO PREVIOUS PAGE</a>
	
	<!-- Pictures will all be scaled down to similar sizes -->
	<figure>
		<img src="../images/facebook.jpg" width="300px" height="300px" alt="Shows the Facebook logo which is a white f inside a blue box">
		<figcaption>My favorite social media platform is Facebook.</figcaption>
	</figure>

	<figure>
		<img src="../images/china.jpg" width="300px" height="200px" alt="Shows the Chinese flag, which has 5 stars on the top left surrounded by red">
		<figcaption>My parents are from China and I am the first one in my family to attend University.</figcaption>
	</figure>	

	<figure>
		<img src="../images/ymca.jpg" width="300px" height="230px" alt="Shows the YMCA logo which is a big Y">
		<figcaption>This summer I worked as a YMCA counselor and worked with children.</figcaption>
	</figure>

	<figure>
		<img src="../images/canada.jpg" width="300px" height="150px" alt="Shows the Canadian flag which is a maple leaf">
		<figcaption>A few years ago, I went with my family to Toronto, Canada.</figcaption>
	</figure>

	<figure>
		<img src="../images/eyesight.jpg" alt="Shows someone holding a pair of glasses and towards a blurry Snellen chart">
		<figcaption>I have really bad eyesight. I can't see without my glasses.</figcaption>
	</figure>

</body>
</html>